@import "mocha.css";

* {
  /* font-family: JetBrainsMono Nerd Font Propo; */
  font-family: CaskaydiaMono Nerd Font Propo;
  font-size: 19px;
  min-height: 40px;
  border: none;
}

button {
  box-shadow: none;
  text-shadow: none;
  background: none;
  border: none;
}

button:hover {
  box-shadow: none;
  text-shadow: none;
  background: none;
  border: none;
}

tooltip {
  background-color: @base;
}

tooltip label {
  color: @text;
}

#waybar {
  border-radius: 0px;
  background: @base;
  color: @text;
}

#workspaces {
  background-color: @base;
}

#workspaces button {
  padding: 0px 1px;
  color: @blue;
}

#workspaces button.empty {
  color: @overlay1;
}

#workspaces button.visible {
  color: @white;
}

#workspaces label {
  font-size: 13px;
}

#workspaces,
#cpu,
#memory,
#disk,
#clock,
#custom-music,
#bluetooth,
#pulseaudio,
#battery,
#custom-lock,
#custom-notification {
  margin: 0rem 0.5rem;
}

#custom-power {
  margin: 0rem 0.5rem 0rem 1rem;
}

#group-group-toggle {
  margin: 0rem 1rem 0rem 0.5rem;
}

#tray {
  margin: 0rem 1rem 0rem 0rem;
}

#custom-traytoggle {
  margin: 0rem 1rem 0rem 0.5rem;
}

#custom-traytoggle {
  color: @blue;
}

#pulseaudio.muted {
  color: @overlay1;
}

#bluetooth.disabled {
  color: @overlay1;
}

#bluetooth.connected {
  color: @blue;
}
