@import "mocha.css";

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 19px;
  min-height: 40px;
}

button {
  box-shadow: none;
  text-shadow: none;
  background: none;
  border: none;
}

button:hover {
  box-shadow: none;
  text-shadow: none;
  background: none;
  border: none;
}
tooltip {
  background-color: @base;
}

tooltip label {
  color: @text;
}

#waybar {
  background: @base;
  color: @text;
}

#workspaces {
  background-color: @base;
}

#workspaces button {
  padding: 0px 2px;
  color: @blue;
}

#workspaces button.empty {
  color: @overlay1;
}

#workspaces button.visible {
  color: @white;
}
#workspaces label {
  font-size: 13px;
}

#pulseaudio,
#battery,
#custom-lock,
#custom-power {
  padding: 0rem 1rem;
  /* margin: 5px 0; */
}

#tray,
#custom-traytoggle {
  padding: 0rem 1rem 0rem 0rem;
}

#custom-traytoggle {
  color: @blue;
}

#pulseaudio.muted {
  color: @overlay1;
}

#bluetooth.disabled {
  color: @overlay1;
}

#bluetooth.connected {
  color: @blue;
}
