[Unit]
Description=Pull repos from github at startup

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/home/miguel/.scripts/pull-repos

[Install]
WantedBy=default.target
