[Unit]
Description=Pull repos from github at startup
Wants=network.target network-online.target
After=network.target network-online.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/home/miguel/.scripts/pull-repos

[Install]
WantedBy=default.target

