[Unit]
Description=Push repos to github

[Service]
Type=oneshot
RemainAfterExit=true
ExecStop=%h/.scripts/push-repos

[Install]
WantedBy=default.target
